<mat-sidenav-container class="shell-container">

    <mat-sidenav #drawer mode="over" class="shell-sidenav">
        <mat-nav-list>
            <ng-container *ngIf="isLogged(); else loginBtn">
                <mat-list-item class="user-header" (click)="openFullScreen('profile')">
                    <div class="user-details">
                        <div class="user-name">Marc Reus Martí</div>
                        <div class="user-score">62% d'encert</div>
                    </div>
                </mat-list-item>
            </ng-container>
            <ng-template #loginBtn>
                <mat-list-item (click)="drawer.close(); navigateToWelcome()">
                    <mat-icon>login</mat-icon>
                    <span>Iniciar sessió</span>
                </mat-list-item>
            </ng-template>
            <mat-divider></mat-divider>
            <mat-list-item (click)="openFullScreen('rules')">
                <mat-icon>rule</mat-icon>
                <span>Regles</span>
            </mat-list-item>
            <mat-list-item (click)="openFullScreen('help')">
                <mat-icon>help_outline</mat-icon>
                <span>Ajuda</span>
            </mat-list-item>
            <mat-list-item (click)="openFullScreen('settings')">
                <mat-icon>settings</mat-icon>
                <span>Configuració</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container *ngIf="isLogged()">
                <mat-list-item (click)="navigateToWelcome()">
                    <mat-icon>logout</mat-icon>
                    <span>Tanca sessió</span>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav #notifDrawer position="end" mode="over" class="shell-sidenav">
        <app-notifications></app-notifications>
    </mat-sidenav>

    <mat-sidenav-content class="shell-content">

        <div class="shell-body">
            <aside class="shell-aside">
                <mat-toolbar class="toolbar" *ngIf="!(isMobile && showDetail)">
                    <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon class="toolbar-icons">menu</mat-icon>
                    </button>
                    <span class="toolbar-title" role="button" tabindex="0" (click)="navigateHome()">
                        OneFantasy
                    </span>
                    <span class="toolbar-spacer"></span>
                    <button mat-icon-button (click)="notifDrawer.toggle()" matBadge="•" matBadgeColor="warn"
                        matBadgePosition="above after" matBadgeOverlap="false">
                        <mat-icon class="toolbar-icons">notifications</mat-icon>
                    </button>
                </mat-toolbar>

                <nav class="tabs">
                    <button (click)="currentTab='participations'" [class.active]="currentTab==='participations'">
                        Reptes diaris
                    </button>
                    <button (click)="currentTab='public'" [class.active]="currentTab==='public'">
                        Lligues públiques
                    </button>
                    <button (click)="currentTab='private'" [class.active]="currentTab==='private'">
                        Lligues privades
                    </button>
                </nav>

                <section class="tab-content">
                    <div class="tab-panel" [hidden]="currentTab!=='participations'">
                        <app-participations-list></app-participations-list>
                    </div>

                    <div class="tab-panel" [hidden]="currentTab!=='public'">
                        <app-public-leagues-list></app-public-leagues-list>
                    </div>

                    <div class="tab-panel" [hidden]="currentTab!=='private'">
                        <app-private-leagues-list></app-private-leagues-list>
                    </div>
                </section>
                <div matTooltip="Inicia sessió per tenir accés a totes les funcionalitats"
                    [matTooltipDisabled]="isLogged()" class="fab-container"
                    *ngIf="!modalActive && !(isMobile && showDetail)">
                    <button *ngIf="currentTab === 'participations'" mat-fab color="primary" (click)="picker.open()"
                        aria-label="Filtrar per data" class="fab-button" [disabled]="!isLogged()">
                        <mat-icon>calendar_today</mat-icon>
                    </button>
                    <button *ngIf="currentTab !== 'participations'" mat-fab color="primary" [disabled]="!isLogged()"
                        (click)="openFullScreen('create-league')" aria-label="Crear lliga" class="fab-button">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-fab color="primary" [disabled]="!isLogged()" (click)="openFullScreen('preferences')"
                        class="fab-button" aria-label="Preferències">
                        <mat-icon>tune</mat-icon>
                    </button>

                    <input matInput [matDatepicker]="picker" hidden />
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </aside>

            <main *ngIf="!isMobile || showDetail" class="shell-main" [class.overlay]="isMobile && showDetail">
                <router-outlet></router-outlet>
            </main>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>


<div *ngIf="modalActive" class="fullscreen-panel">
    <router-outlet name="modal"></router-outlet>
</div>