<h2 mat-dialog-title>{{ data.title || 'Selecciona fins a 2' }}</h2>
<div class="dialog-description">
  Tria una o dues opcions<br>(només compta un encert).
</div>

<mat-form-field appearance="outline" class="filter-input">
  <mat-label>Filtra per nom</mat-label>
  <input matInput placeholder="Escriu per filtrar..." [(ngModel)]="filterText">
</mat-form-field>

<mat-dialog-content>
  <ng-container *ngFor="let group of data.optionGroups">
    <div *ngIf="hasOptions(group)" class="option-group">
      <h3 class="group-title">{{ group.title }}</h3>
      <mat-checkbox *ngFor="let opt of filteredOptions(group.options)" class="full-checkbox"
        [checked]="tempSelected.includes(opt.value)" (change)="onToggle(opt.value)" [disabled]="
                      !tempSelected.includes(opt.value)
                      && tempSelected.length >= 2
                    ">
        {{ opt.label }} ({{ opt.info }})
      </mat-checkbox>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel·lar</button>
  <button mat-button color="primary" (click)="onSave()">Desar</button>
</mat-dialog-actions>