<div class="participations-container">

  <section *ngIf="playableVMs.length">
    <div class="seccions">Jugables</div>
    <div matRipple class="participation-card" *ngFor="let p of playableVMs" (click)="onSelect(p.id)">
      <div class="content">
        <div class="line1">
          <span class="competition">{{ p.competition }}&nbsp;</span>
          <mat-icon class="star-icon" [ngClass]="p.starClass">star</mat-icon>
          <span class="matchday">&nbsp;{{ p.roundText }}</span>
          <span class="date">{{ p.rightText }}</span>
        </div>
        <div class="line2">
          <mat-icon class="left-icon" [ngClass]="p.leftClass">{{ p.leftIcon }}</mat-icon>
          <span class="status-text">&nbsp;{{ p.statusText }} · 2 lligues</span>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="startedVMs.length">
    <div class="seccions">Iniciats</div>
    <div matRipple class="participation-card" *ngFor="let p of startedVMs" (click)="onSelect(p.id)">
      <div class="content">
        <div class="line1">
          <span class="competition">{{ p.competition }}&nbsp;</span>
          <mat-icon class="star-icon" [ngClass]="p.starClass">star</mat-icon>
          <span class="matchday">&nbsp;{{ p.roundText }}</span>
          <span class="date">{{ p.rightText }}</span>
        </div>
        <div class="line2">
          <mat-icon class="left-icon" [ngClass]="p.leftClass">{{ p.leftIcon }}</mat-icon>
          <span class="status-text">&nbsp;{{ p.statusText }} · 2 lligues</span>
        </div>
      </div>
    </div>
  </section>

</div>