.welcome-container {
  background: linear-gradient(to bottom,
      #c6d7f6 20%,
      #faf9fd 80%);
  color: #49454F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 1rem;

  h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.01em;
  }

  .subtitle {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
  }

  .features {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 2rem 0 1rem;

    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 1px;
      background-color: rgba(73, 69, 79, 0.2);
      margin: 0 auto 1rem;
    }

    .feature {
      padding: 1rem 0;

      h3 {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.01em;
        justify-content: center;
      }

      p {
        margin: 0.5rem 0 0;
        font-size: 0.9rem;
        line-height: 1.3;
      }
    }
  }

  .actions {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 300px;

    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 1px;
      background-color: rgba(73, 69, 79, 0.2);
      margin: 0 auto 1rem;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.3;
    }

    .section-label {
      margin: 0 0 0.5rem;
      font-weight: 600;
    }

    button {
      width: 100%;
    }

    .guest {
      padding-top: 1rem;
    }
  }

  .guest-label {
    margin: 1.5rem 0 0.5rem;
    font-weight: 600;
  }

}