<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-title>Iniciar Sessió</mat-card-title>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            El camp és obligatori
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Introdueix un email vàlid
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contrasenya</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            El camp és obligatori
          </mat-error>
        </mat-form-field>
  
        <div *ngIf="errorMsg" class="error-text">{{ errorMsg }}</div>
  
        <button mat-raised-button color="primary" class="full-width" [disabled]="loading">
          {{ loading ? 'Entrant…' : 'Entrar' }}
        </button>
      </mat-card>
    </form>
  </div>
  